/*************************************************************************************************\
* Наименование:  Аванс                                                                            *
* Контур/Модуль: Заработная плата                                                                 *
* Примечание:    Добавление поля "Банк"                                                           *
* Вид работы  |Номер         |Дата    |Исполнитель              |Проект                           *
* ----------------------------------------------------------------------------------------------- *
* Разработка  |#1191         |24/10/17|Кузьмин П.               |НПО Энергомаш                    *
\*************************************************************************************************/
object 'Z_MP::AVANS' : InterfaceWindow {
  Title = 'Аванс (все доступные подразделения)';
  object ACTUALADVANCESCREEN : Screen {
    object 'L_ACTUALADVANCESCREEN_Сумма_налога_на_доходы' : Label {
      Visible = False;
    } // L_ACTUALADVANCESCREEN_Сумма_налога_на_доходы : Label
    object i_ACTUALADVANCESCREEN_TAXSUM : PanelInputLine {
      Visible = False;
    } // i_ACTUALADVANCESCREEN_TAXSUM : PanelInputLine
  } // ACTUALADVANCESCREEN : Screen
  object BROWSECLASSICAL : Browser {
    object 'c_BROWSECLASSICAL_CURLSCHET.TABN_Таб._номер' : Column {
      Visible = False;
    } // c_BROWSECLASSICAL_CURLSCHET.TABN_Таб._номер : Column
    object 'c_BROWSECLASSICAL_LSCHET.CHAR1_Назн._аван.' : Column {
      StatusCtx = 7109;
    } // c_BROWSECLASSICAL_LSCHET.CHAR1_Назн._аван. : Column
    // Информация: объект "'sTXOGetField('KATBANK','NAME', coTXOGetField('LSCHET','CLSCHDOP',LSCHET.NREC))'" типа Column не найден в базовой конфигурации!
    object 'sTXOGetField(''KATBANK'',''NAME'', coTXOGetField(''LSCHET'',''CLSCHDOP'',LSCHET.NREC))' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      UpCase = False;
      Password = False;
      NoValidCheck = True;
      StatusCtx = 16;
      Title = 'БАНК';
      HelpLine = '';
      FieldName = 'sTXOGetField(''KATBANK'',''NAME'', coTXOGetField(''LSCHET'',''CLSCHDOP'',LSCHET.NREC))';
      DefaultValue = '';
      Strings = ( // Список строк
      )
      StringsNull = 0;
      Index = 6;
      DefaultWidth = 26;
      TextAlign = 0;
      ButtonType = 0;
      DefaultPickButton = False;
      SpinInc = 0.0;
      SpinMin = 0.0;
      SpinMax = 0.0;
      NoAutoSize = False;
      EnumValues = ( // Список целых
      )
      PassiveFormat = '';
      Points = 0;
      MaxLen = 255;
      PrecisionVarName = '';
      HistoryID = 0;
      DropTarget = False;
      DropSource = False;
      FontBold = 'Значение не определено или не известно.';
      FontItalic = 'Значение не определено или не известно.';
      FontColor = 'Значение не определено или не известно.';
      FontBackColor = 'Значение не определено или не известно.';
      InputMask = 'Значение не определено или не известно.';
      FixedState = 0;
      EditButton = False;
    } // sTXOGetField('KATBANK','NAME', coTXOGetField('LSCHET','CLSCHDOP',LSCHET.NREC)) : Column
    object 'c_BROWSECLASSICAL_LSCHET.AVFAKT_Фактическ._аванс' : Column {
      Index = 7;
    } // c_BROWSECLASSICAL_LSCHET.AVFAKT_Фактическ._аванс : Column
    object 'c_BROWSECLASSICAL_LSCHET.SUMMA13_Исх.сумма_для_расч.уд.' : Column {
      Index = 8;
    } // c_BROWSECLASSICAL_LSCHET.SUMMA13_Исх.сумма_для_расч.уд. : Column
    object 'c_BROWSECLASSICAL_LSCHET.PODNAL_Налог_на_доходы' : Column {
      Index = 9;
    } // c_BROWSECLASSICAL_LSCHET.PODNAL_Налог_на_доходы : Column
    object 'c_BROWSECLASSICAL_LSCHET.SUMMA50_Погашено_за_счет_авансовых_платежей' : Column {
      Index = 10;
    } // c_BROWSECLASSICAL_LSCHET.SUMMA50_Погашено_за_счет_авансовых_платежей : Column
    object 'c_BROWSECLASSICAL_LSCHET.PENSAV_Пенсионные_взносы' : Column {
      Index = 11;
    } // c_BROWSECLASSICAL_LSCHET.PENSAV_Пенсионные_взносы : Column
    object 'c_BROWSECLASSICAL_LSCHET.DATE2_Дата_формир.' : Column {
      Index = 12;
    } // c_BROWSECLASSICAL_LSCHET.DATE2_Дата_формир. : Column
    object 'c_BROWSECLASSICAL_LSCHET.SUMMA16_Взносы_в_ФЗ' : Column {
      Visible = False;
      Index = 13;
    } // c_BROWSECLASSICAL_LSCHET.SUMMA16_Взносы_в_ФЗ : Column
    object 'c_BROWSECLASSICAL_LSCHET.SUMMA17_Взносы_на_соцстрах' : Column {
      Visible = False;
      Index = 14;
    } // c_BROWSECLASSICAL_LSCHET.SUMMA17_Взносы_на_соцстрах : Column
    object 'c_BROWSECLASSICAL_LSCHET.SUMMA55_Проф._взносы' : Column {
      Index = 15;
    } // c_BROWSECLASSICAL_LSCHET.SUMMA55_Проф._взносы : Column
    object 'c_BROWSECLASSICAL_LSCHET.KOLLGOTA_Алименты' : Column {
      Title = ^C'Алименты'^M+
              ^C'и/л';
      HelpLine = 'Сумма алиментов и исполнительных листов';
      Index = 16;
    } // c_BROWSECLASSICAL_LSCHET.KOLLGOTA_Алименты : Column
    object 'c_BROWSECLASSICAL_LSCHET.SUMMA33_Плановый_аванс' : Column {
      Visible = False;
      Index = 17;
    } // c_BROWSECLASSICAL_LSCHET.SUMMA33_Плановый_аванс : Column
    object 'c_BROWSECLASSICAL_LSCHET.SUMMA28_Фактическ._аванс' : Column {
      Visible = False;
      Index = 18;
    } // c_BROWSECLASSICAL_LSCHET.SUMMA28_Фактическ._аванс : Column
    object 'c_BROWSECLASSICAL_LSCHET.SUMMA29_Исх.сумма_для_расч.уд.' : Column {
      Visible = False;
      Index = 19;
    } // c_BROWSECLASSICAL_LSCHET.SUMMA29_Исх.сумма_для_расч.уд. : Column
    object 'c_BROWSECLASSICAL_LSCHET.SUMMA18_Налог_на_доходы' : Column {
      Visible = False;
      Index = 20;
    } // c_BROWSECLASSICAL_LSCHET.SUMMA18_Налог_на_доходы : Column
    object 'c_BROWSECLASSICAL_LSCHET.SUMMA49_Погашено_за_счет_авансовых_платежей' : Column {
      Visible = False;
      Index = 21;
    } // c_BROWSECLASSICAL_LSCHET.SUMMA49_Погашено_за_счет_авансовых_платежей : Column
    object 'c_BROWSECLASSICAL_LSCHET.SUMMA37_Пенсионные_взносы' : Column {
      Visible = False;
      Index = 22;
    } // c_BROWSECLASSICAL_LSCHET.SUMMA37_Пенсионные_взносы : Column
    object 'c_BROWSECLASSICAL_LSCHET.DATE3_Дата_форм.' : Column {
      Visible = False;
      Index = 23;
    } // c_BROWSECLASSICAL_LSCHET.DATE3_Дата_форм. : Column
    object 'c_BROWSECLASSICAL_LSCHET.SUMMA31_Взносы_в_ФЗ' : Column {
      Visible = False;
      Index = 24;
    } // c_BROWSECLASSICAL_LSCHET.SUMMA31_Взносы_в_ФЗ : Column
    object 'c_BROWSECLASSICAL_LSCHET.SUMMA32_Взносы_на_соцстрах' : Column {
      Visible = False;
      Index = 25;
    } // c_BROWSECLASSICAL_LSCHET.SUMMA32_Взносы_на_соцстрах : Column
    object 'c_BROWSECLASSICAL_LSCHET.SUMMA23_Алименты' : Column {
      Visible = False;
      Title = ^C'Алименты'^M+
              ^C'и/л';
      HelpLine = 'Сумма алиментов и исполнительных листов';
      Index = 26;
    } // c_BROWSECLASSICAL_LSCHET.SUMMA23_Алименты : Column
    object 'c_BROWSECLASSICAL_LSCHET.SUMMA56_Проф._взносы' : Column {
      Visible = False;
      Index = 27;
    } // c_BROWSECLASSICAL_LSCHET.SUMMA56_Проф._взносы : Column
    object 'c_BROWSECLASSICAL_LSCHET.DATUV_Уволен' : Column {
      Index = 28;
    } // c_BROWSECLASSICAL_LSCHET.DATUV_Уволен : Column
    object 'c_BROWSECLASSICAL_SUB_Статус_расчета_удержаний' : Column {
      Index = 29;
    } // c_BROWSECLASSICAL_SUB_Статус_расчета_удержаний : Column
  } // BROWSECLASSICAL : Browser
  object LSCHETB : Browser {
    object 'c_LSCHETB_LSCHET.TABN_Таб._номер' : Column {
      Visible = False;
    } // c_LSCHETB_LSCHET.TABN_Таб._номер : Column
    object 'c_LSCHETB_LSCHET.CHAR1_Назн._аван.' : Column {
      StatusCtx = 7109;
    } // c_LSCHETB_LSCHET.CHAR1_Назн._аван. : Column
    object 'c_LSCHETB_LSCHET.SUMMA13_Исх.сумма_для_расч.уд.' : Column {
      Protect = True;
    } // c_LSCHETB_LSCHET.SUMMA13_Исх.сумма_для_расч.уд. : Column
    object 'c_LSCHETB_LSCHET.SUMMA16_Взносы_в_ФЗ' : Column {
      Visible = False;
    } // c_LSCHETB_LSCHET.SUMMA16_Взносы_в_ФЗ : Column
    object 'c_LSCHETB_LSCHET.SUMMA17_Взносы_на_соцстрах' : Column {
      Visible = False;
    } // c_LSCHETB_LSCHET.SUMMA17_Взносы_на_соцстрах : Column
    object 'c_LSCHETB_LSCHET.KOLLGOTA_Алименты' : Column {
      Title = ^C'Алименты'^M+
              ^C'и/л';
      HelpLine = 'Сумма алиментов и исполнительных листов';
    } // c_LSCHETB_LSCHET.KOLLGOTA_Алименты : Column
    object 'c_LSCHETB_LSCHET.SUMMA33_Плановый_аванс' : Column {
      Visible = False;
    } // c_LSCHETB_LSCHET.SUMMA33_Плановый_аванс : Column
    object 'c_LSCHETB_LSCHET.SUMMA28_Фактическ._аванс' : Column {
      Visible = False;
    } // c_LSCHETB_LSCHET.SUMMA28_Фактическ._аванс : Column
    object 'c_LSCHETB_LSCHET.SUMMA29_Исх.сумма_для_расч.уд.' : Column {
      Visible = False;
    } // c_LSCHETB_LSCHET.SUMMA29_Исх.сумма_для_расч.уд. : Column
    object 'c_LSCHETB_LSCHET.SUMMA18_Налог_на_доходы' : Column {
      Visible = False;
    } // c_LSCHETB_LSCHET.SUMMA18_Налог_на_доходы : Column
    object 'c_LSCHETB_LSCHET.SUMMA49_Погашено_за_счет_авансовых_платежей' : Column {
      Visible = False;
    } // c_LSCHETB_LSCHET.SUMMA49_Погашено_за_счет_авансовых_платежей : Column
    object 'c_LSCHETB_LSCHET.SUMMA37_Пенсионные_взносы' : Column {
      Visible = False;
    } // c_LSCHETB_LSCHET.SUMMA37_Пенсионные_взносы : Column
    object 'c_LSCHETB_LSCHET.DATE3_Дата_форм.' : Column {
      Visible = False;
    } // c_LSCHETB_LSCHET.DATE3_Дата_форм. : Column
    object 'c_LSCHETB_LSCHET.SUMMA31_Взносы_в_ФЗ' : Column {
      Visible = False;
    } // c_LSCHETB_LSCHET.SUMMA31_Взносы_в_ФЗ : Column
    object 'c_LSCHETB_LSCHET.SUMMA32_Взносы_на_соцстрах' : Column {
      Visible = False;
    } // c_LSCHETB_LSCHET.SUMMA32_Взносы_на_соцстрах : Column
    object 'c_LSCHETB_LSCHET.SUMMA23_Алименты' : Column {
      Visible = False;
      Title = ^C'Алименты'^M+
              ^C'и/л';
      HelpLine = 'Сумма алиментов и исполнительных листов';
    } // c_LSCHETB_LSCHET.SUMMA23_Алименты : Column
    object 'c_LSCHETB_LSCHET.SUMMA56_Проф._взносы' : Column {
      Visible = False;
    } // c_LSCHETB_LSCHET.SUMMA56_Проф._взносы : Column
  } // LSCHETB : Browser
  object DEPARTMENTTREEWINDOW : InterfaceWindow {
    object DEPTFILTEROPTIONSSCREEN : Screen {
      object cb_DEPTFILTEROPTIONSSCREEN_DEPTFILTEROPTIONS : PanelCheckBox {
        object 'ci_DEPTFILTEROPTIONSSCREEN_DEPTFILTEROPTIONS_Фильтр_по_подразделению' : ClusterItem {
          Skip = True;
        } // ci_DEPTFILTEROPTIONSSCREEN_DEPTFILTEROPTIONS_Фильтр_по_подразделению : ClusterItem
      } // cb_DEPTFILTEROPTIONSSCREEN_DEPTFILTEROPTIONS : PanelCheckBox
    } // DEPTFILTEROPTIONSSCREEN : Screen
  } // DEPARTMENTTREEWINDOW : InterfaceWindow
} // Z_MP::AVANS : InterfaceWindow
//-----------------------------------------------------------------------------
