object 'Z_STAFFORDERS::ORDERSLIST' : InterfaceWindow 
  {
    object BRWDOC : Browser 
	{
                // Информация: объект "'sTXOGetField('X$USERS','XU$FULLNAME',TITLEDOC.ATL_OWNER)'" типа Column не найден в базовой конфигурации!
    object 'sTXOGetField(''X$USERS'',''XU$FULLNAME'',TITLEDOC.ATL_OWNER)' : Column 
	  {
      Original = False;
      Visible = True;
      Protect = True;
      Skip = True;
      NoValidCheck = True;
      StatusCtx = 16;
      Title = 'Создал приказ';
      HelpLine = 'Создал приказ';
      FieldName = 'sTXOGetField(''X$USERS'',''XU$FULLNAME'',TITLEDOC.ATL_OWNER)';
      DefaultValue = '';
      DefaultWidth  = 25; 	  
      } // sTXOGetField('X$USERS','XU$FULLNAME',TITLEDOC.ATL_OWNER) : Column
    object 'c_BRWDOC_IMAGEONARCHIVE_А' : Column {
      Index = 6;
      NoAutoSize = True;
    } // c_BRWDOC_IMAGEONARCHIVE_А : Column
  } // BRWDOC : Browser
  object WHATISINORDER : InterfaceWindow {
    object EDITTITLE : Screen {
      object i_EDITTITLE_BARKODANDSTATECAPTION : PanelInputLine {
        Visible = False;
      } // i_EDITTITLE_BARKODANDSTATECAPTION : PanelInputLine
      object i_EDITTITLE_BARKODANDSTATE : PanelInputLine {
        Visible = False;
      } // i_EDITTITLE_BARKODANDSTATE : PanelInputLine
    } // EDITTITLE : Screen
  } // WHATISINORDER : InterfaceWindow
} // Z_STAFFORDERS::ORDERSLIST : InterfaceWindow
//-----------------------------------------------------------------------------
